<div class="card card--orientation-vertical card--containment-padded card--action-supplemental card--visual-image">
	<div class="card-image">
		<img src="{{ img.landscape_2x1.src }}"/>
	</div>
	<h4 class="card-headline">{{ headline.short }}</h4>
	<p class="card-body">{{ excerpt.short }}</p>
	<a href="{{ url }}" class="card-link">{{ cta.newsroom }}</a>
</div>